

body {
    background-color: #e9e9e9;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1 , p{
    color: #333;
}

section {
    width: 80%;
    margin: auto;
}


#CDTmap {
    background-color: #fff;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#tooltip {
    position: absolute;
    pointer-events: none;
    background: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 4px;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}